body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width:700px; 
    margin-left: 500px;
    padding: 30px;
    padding-top: 10px;
    border: double 10px blue;
    background-color: aliceblue;
    text-align: left;
}

html{
    background-color: yellow;
}

p{
    font-size: 20px;
    margin-bottom: 0px;
}

img{
    float: left;
    padding: 0px 10px 0px 0px ;
    height:250px;
    width: 300px;
}

h1{
    color: blue;
}

.title{
    font-size: 25px;
}

.secOne{
    margin-left: 440px;
    padding-top: 0px;
}

.secTwo{
    margin-left: 280px;
    padding-top:0px;
}

ul{
    padding-left: 20px;
}

li{
    padding: 2.5px;
}

hr{
   
    border: solid blue 1.5px;
}

footer{
    text-align: center;
    font-weight: bold;
}
